<div
   class="modal fade"
   id="EditModal"
   tabindex="-1"
   aria-labelledby="EditModal"
   aria-hidden="true"
   >
   <div class="modal-dialog">
      <div class="modal-content rounded-4 border-0">
         <div class="modal-header py-1 d-flex">
            <button
               type="button"
               class="btn-close m-0 fs-7 btn-gray rounded-circle"
               data-bs-dismiss="modal"
               aria-label="Close"
               ></button>
         </div>
         <%- include("editProfile") %>
      </div>
   </div>
</div>